In [1]:
#singnle line comment
'''
===>> this is 
multiline 
comment 
'''
print "hello"# statement
print "hai" #statement

hello
hai

In [2]:
import keyword
print keyword.kwlist

['and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'exec', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'not', 'or', 'pass', 'print', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
# identifier 
'''
==>> User defined words / programmer defined 

==>> To give the name entities for variables, functions, classes 

'''
# Rules
'''
===>> We can use alphabets  a - z / A - Z
===>> We can use digits   0 - 9
===>> we can use underwscore   _
===>> don't start with digit
===>> don't use keywords 
===>> don't use special characters  , . ?/)(*&^%$#!@!~){}[]
'''
# variable 
'''
===>>> A name which can be used for to store the data with in memory loc

===>>> A name which can be used for to access the data from memory loc

Identier   = data

id( variable) ===>>> memory loc
'''
name = 123 # to store the data into memory loc , with name is name
print name  #from memory loc we are accessing the data
print "memory loc : ",id(name)

123
memory loc :  38043744

In [4]:
vS1_ =123
print vS1_

123

In [6]:
3var =123

SyntaxError: invalid syntax (<ipython-input-6-40d62130010c>, line 1)

In [7]:
not = 345

SyntaxError: invalid syntax (<ipython-input-7-0634e6ff4616>, line 1)

In [8]:
na@r =124

SyntaxError: invalid syntax (<ipython-input-8-2fb158da077a>, line 1)

In [1]:
# Datatypes
'''
===>>> What type of data holded by variable

'''
#  2 types
# type(var) ====>> datatype
'''
1. Fundamental Datatype
---------------------------

===>>>> A single variable can hold the single data 

    1. int ===>>> +ve /-ve / 0
    2. float ==>>> 12.3343534
    3. complex ==>>>   x +yj (  real + imgj)
    4. bool   ===>>>   True / False
    5. Nonetype ==>>> None
'''
var = 123
print var
print id(var)
print type(var)

123
45125376
<type 'int'>

In [2]:

var = 12.54553
print var
print id(var)
print type(var)

12.54553
71598288
<type 'float'>

In [3]:
var = 12 + 3j
print var
print id(var)
print type(var)

(12+3j)
72641136
<type 'complex'>

In [4]:
var = True
print var
print id(var)
print type(var)
var = False
print var
print id(var)
print type(var)

True
1364246248
<type 'bool'>
False
1364245832
<type 'bool'>

In [5]:
var = None
print var
print id(var)
print type(var)

None
1364200568
<type 'NoneType'>

In [6]:
# 2. sequencial Datatype
'''
===>>> A single variable can hold the multiple data elments
    1. str ===>>  ""
    2. list ==>>  []
    3. tuple ==>> ()
    4. set ===>> {}
    5. dict ==>> {key : val , item2}
'''
var = "python program"
print var
print id(var)
print type(var)

python program
79242656
<type 'str'>

In [7]:
var = [123,34,90]
print var
print id(var)
print type(var)

[123, 34, 90]
79212872
<type 'list'>

In [8]:
var = (12,343,78)
print var
print id(var)
print type(var)

(12, 343, 78)
78655280
<type 'tuple'>

In [9]:
var = {12,56,90}
print var
print id(var)
print type(var)

set([56, 90, 12])
69193512
<type 'set'>

In [10]:
var = {12 : "soc" , 56 : "hello"}
print var
print id(var)
print type(var)

{56: 'hello', 12: 'soc'}
72791720
<type 'dict'>

In [13]:
# Python Built-in fucntions
#------------------------
#input() ===>>> reading the data from keyboard
# raw_input() ==>> reading the data from keyboard
#id() ===>> memory loc
#type() ==>> datatype
var = input("enter : ")
print var
print id(var)
print type(var)
var = raw_input("enter : ")
print var
print id(var)
print type(var)

enter : 789
789
69599248
<type 'int'>
enter : 789
789
72567504
<type 'str'>

In [14]:
var = input("enter : ")
print var
print id(var)
print type(var)
var = raw_input("enter : ")
print var
print id(var)
print type(var)

enter : 78.56
78.56
71598192
<type 'float'>
enter : 78.56
78.56
78675240
<type 'str'>

In [15]:
var = input("enter : ")
print var
print id(var)
print type(var)
var = raw_input("enter : ")
print var
print id(var)
print type(var)

enter : 9+6j
(9+6j)
72641072
<type 'complex'>
enter : 9+6j
9+6j
72568344
<type 'str'>

In [17]:
var = input("enter : ")
print var
print id(var)
print type(var)
var = raw_input("enter : ")
print var
print id(var)
print type(var)

enter : 89
89
45124200
<type 'int'>
enter : 89
89
72567344
<type 'str'>

In [18]:
a = raw_input("enter ")
b = raw_input("enter ")
print a+b

enter 45
enter 56
4556

In [19]:
#datatype conversion
#raw_input--->>int ---> str type --->> int()---> int
a = raw_input("enter int")
print type(a)
a = int(a)
print type(a)

enter int56
<type 'str'>
<type 'int'>

In [20]:
#datatype conversion
#raw_input--->>float ---> str type --->> float()---> float
a = raw_input("enter int")
print type(a)
a = float(a)
print type(a)

enter int78.564
<type 'str'>
<type 'float'>

In [21]:
# int()
# float()
# complex()
# bool()
# str()
#list()
#tuple()
# set()
# dict()

a = raw_input("enter complex")
print type(a)
a = complex(a)
print type(a)

enter complex7+8j
<type 'str'>
<type 'complex'>

In [22]:
#datatype conversion
#raw_input--->>bool ---> str type --->> bool()---> bool
a = raw_input("ente int")
print type(a)
a = bool(a)
print type(a)

enter intTrue
<type 'str'>
<type 'bool'>

In [23]:

a = raw_input("enter list")
print type(a)
a = list(a)
print type(a)

enter list[1,2,3]
<type 'str'>
<type 'list'>

In [25]:
# len() ===>> no know the no of element
# max() ==>> biggest 
# min() ===>>smallest
# sum()===>> sum of all
var =[12,45,90]
print len(var)# 3
print min(var)# 12
print max(var)#90
print sum(var)#147

3
12
90
147