# operator

====>>> The symbols are used for to do the data processing on your data

# Operation :-

===>>> The Process of the doing the data processing 

# Operands

===>>> The data with in the operation

# Based on 2 ways 

1. Based on operands 

    1. unary operator
    ----------------
    
    ===>>> A single operator operating on single data 
    
        1. unary minus   -
        
        2. unary plus    +
        
        3. Logical Not   not
        
        4. bitwise not     ~
    
    
    2. Binary operator
    -------------------
    
    ===>>> A single operator operating on 2 operands 
    
        1. addition 
        
        2. sutraction

2. based on operation :-
-----------------------

===>>> arithmetic Operator

===>>  relational Operator

===>>  Logical operator

===>> Assignment Operator

===>> Special operator

===>> bitwise operator

In [3]:
#######################  Unary operator #############3
# Unary minus

a = -19
b = 34
print -a
print -b

# unary plus 
print +a
print +b

# logical not 
print not 34
print not 0

# bitwise not
print ~34
print ~0

19
-34
-19
34
False
True
-35
-1

In [4]:
# binary operator
a  = 11
b = 2
print  a+b
print a -b
print a*b
print a/b

13
9
22
5

In [5]:
# Based on Operation

# Arithmetic Operator
'''
===>> Addition       +
===>> subtraction    -
===>>  multiplication *
===>> Division        /
===>> Modulus         %
'''
a = input("enter int : ")
b = input("enter int : ")
print a+b
print a-b
print a*b
print a/b
print a%b

enter int : 11
enter int : 2
13
9
22
5
1

In [6]:
a = input("enter float : ")
b = input("enter float : ")
print a+b
print a-b
print a*b
print a/b
print a%b

enter float : 11.0
enter float : 2.0
13.0
9.0
22.0
5.5
1.0

In [8]:
# exponant   **
# floor devision  //
a = input("enter int : ")
b = input("enter int : ")
print a/b
print a//b
a = input("enter float : ")
b = input("enter float : ")
print a/b
print a//b

enter int : 11
enter int : 5
2
2
enter float : 11.0
enter float : 2.0
5.5
5.0

In [7]:
a = input("enter int : ")
b = input("enter int : ")
print a+b
print a-b
print a*b
print a/b
print a%b
print a ** b  # a power of b

enter int : 10
enter int : 2
12
8
20
5
0
100

In [9]:
# wap find the area of circle
'''
area = pi*(r**2)
'''
r = input("enter rad of circle in meters : ")
pi = 22.0/7
area = pi*(r**2)
print "area : ",area," sq.m"

enter rad of circle in meters : 5.5
area :  95.0714285714  sq.m

In [ ]:
# wap find the area of square

In [10]:
# wap find the area of rectangle

In [11]:
# wap find the area of triangle

In [12]:
# wap converts radian to degrees vice versa

In [13]:
# wap find area and volume of cube

In [14]:
# wap find the simple interst

# Relational operator

===>> To compare any two opearands --->> comparision oper

===>> To give the relationship between any 2 operands 

===>> we can use with conditional statements as a condition, conditional 

===>> boolean operators

# types 

1. lessthan   <

2. greaterthan >

3. equal to   ==

4. not equal  !=

5. lessthan or equal to  <=

6. greaterthan or equal to  >=

In [15]:
a = input("enter int : ")
b = input("enter int : ")
print a<b
print a>b
print a==b
print a!=b
print a<=b
print a >=b

enter int : 14
enter int : 14
False
False
True
False
True
True

In [17]:
# wap find the given number factor of 5 or not
num = input("enter some : ")
print 5," is the factor of ",num," is ",(num%5==0)

enter some : 15
5  is the factor of  15  is  True

In [ ]:
# wap given number is even number or not

In [ ]:
# wap given number is negative or not

In [1]:
# Assignment operator   =
var = 123  # constant to variable assignment
b = var   # variable to variable 
c = var*b+12-15 # expression to variable
print var
print b
print c

123
123
15126

In [2]:
#Operation then update
a = 12
b = 2
a = a+b # addition operation  then update
print a
a = 12
b =2
a += b # a = a+b
print a

14
14

In [3]:
a = 12
b = 2
a = a-b # subtraction operation  then update
print a
a = 12
b =2
a -= b # a = a-b
print a

10
10

In [4]:
# * , / , % , ** , // ---->>> we can apply for assignment operator

In [6]:
# Special Operator ( True / False)
'''
===>>> Membership operator :-
---------------------------
===>>> To check the one element is available with in the group of elemment

            in : - 
                True --->> Available
                False -->> Not avaiable
            
            not in :-
                False --->> available
                True  -->>. Not available

===>>> Identiity Operator
====>>>> To check the memory loc is same or not
id() ---<< memory loc

            is : 
             True --->> same
             False -->> different
             
            is not :
            
                True --->  different 
                False --> same 






'''

a = 90
b = [34,90,78,23]
c = 100
print a in b # True
print c in b # Flase
print a not in b # False
print c not in b # True

# wap to check are member of our what's group
whats_app = ["anjan" , "dharani","pankaj","usha","kapoor","aiman"]
person = input("enter name of you :")
print person," is available in",whats_app,"  or not ", person in whats_app

True
False
False
True
enter name of you :"anjan"
anjan  is available in ['anjan', 'dharani', 'pankaj', 'usha', 'kapoor', 'aiman']   or not  True

In [9]:
a = [1,2,3]
b = [1,2,3]
print a
print b
print id(a)
print id(b)
print a is b
print a is not b

[1, 2, 3]
[1, 2, 3]
83849032
85040328
False
True

In [10]:
a = [1,2,3]
b = a
print a
print b
print id(a)
print id(b)
print a is b
print a is not b

[1, 2, 3]
[1, 2, 3]
85041096
85041096
True
False

In [11]:
a = [1,2,3]
b = a
print a
print b
a.append(100)
print a
print b

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 100]
[1, 2, 3, 100]

In [14]:
a = [1,2,3]
b = [1,2,3]
print a
print b
a.append(100)
print a
print b

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 100]
[1, 2, 3]

In [13]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__delslice__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__setslice__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# logical operator

#int --->>         0 ---> False case        , +ve/ -ve ---> True case
#float-->>         0.000 --> False case     , +ve/-ve --->> True case
# complex-->       0 +0j--> False case,        otherwise -->> True case
# Nonetype -->>    None --->. False
# str , list, 
#tuple, set,dict-->  len is 0 -->. False,   otherwise --> True

In [20]:
# logical not --->>> not 
'''
--->> unary operator
input --->>> False case =====>>> res ===>> True
input -->>> True case =======>>> res ===>> False
'''
print not 90 # False
print not [] # True

False
True

In [4]:
# logical or  ---->>>  or

'''
input1   or   input2 =====>>>> ( input1  /  input2)


====>>>> Logical or operator result which is fully depands on  input1 

input1 ---->>> True case ---->> then result --->>> input1

input1 ---->>> False case --->> then result ----->> input2
'''
print  {12,45}  or [12,56,34] # {12,45}
print ""  or {12,8} #{12,8}
print []  or 90.455

set([12, 45])
set([8, 12])
90.455

In [7]:
# Logical AND  ---->>> and 

'''
input1   and   input2 =====>>>> ( input1  /  input2)


====>>>> Logical and  operator result which is fully depands on  input1 

input1 ---->>> True case ---->> then result --->>> input2

input1 ---->>> False case --->> then result ----->> input1
'''
print  {12,45}  and [12,56,34] # [12,56,34]
print ""  and {12,8} #""
print []  and 90.455 #[]

[12, 56, 34]

[]

In [10]:
# Number  system Conversions
'''
===>> we can able to convert one number system to another number system
'''
# Number
'''
===>> Collection of digits 
'''
# Number system
'''
===>>> The process of creating a number using set of digits
'''
# Types NS
'''
===>>> Binary number system ---->>  { 0, 1} ---->> base/ Radix --->> 2 
    examples :-
    ---------
    human understands by radix/ base ---->>  (101010)2
    computer understand --->> 0b  ------->>   0b101010
    
===>>> Octal Number system ---> {0,1,2,3,4,5,6,7} --->> base / Radix --->> 8

    examples :-
    ---------
    human  --->>> (124)8
    computer -->> 0o124 /  0124
    
===>> Decimal Number system --->>{0,1,2,3,4,5,6,7,8,9}--->> Base/Radix ---> 10
    example
    -------
    human --->> (8769)10 /   8769
    computer -->> 8769
    
===>> Hexa decimal system  --->> {0,1,2,3,4,5,6,7,8,9,a/A ,b/B,c/C,d/D,e/E/f/F} --->> Base / Radix -->> 16

examples
--------
        human --->> (3df1)16
        computer -->>  0x/ 0X3df1

'''
#### Number system conversion functions
'''
bin() --->>> any number system to binary number system
oct() --->> any number system to octal number system
int() --->> any number sytem to decimal number system
hex() --->> any number system to hexa decimal number system
'''
print bin(123) # decimal to binary
print bin(0123)#octak to binary
print bin(0o123)# octal to binary
print bin(0x123f)# hexa to bin

0b1111011
0b1010011
0b1010011
0b1001000111111

In [11]:
print oct(123)# decimal to octal
print oct(0x123f)#hex to oct
print oct(0b1010101)# bin to hex

0173
011077
0125

In [12]:
print hex(123)# decimal to hex
print hex(0b10101)# binary to hex
print hex(0123)

0x7b
0x15
0x53

In [15]:
print int(0b1001)# binary to dec
print int("0b1001",2)
print int(0x123)# hex to dec
print int("0x123",16)
print int(0123)# octal to dec
print int("0123",8)

9
9
291
291
83
83

In [ ]:
# Understand the number system  conversion

In [1]:
# wap find the leap year or not
year = input("enter a year : ")
res = (year %4 ==0  and year%100 !=0)or (year %400 == 0)
print year," is leap year : ",res

enter a year : 1900
1900  is leap year :  False

In [2]:
# wap find the leap year or not
year = input("enter a year : ")
res = (year %4 ==0  and year%100 !=0)or (year %400 == 0)
print year," is leap year : ",res

enter a year : 2000
2000  is leap year :  True

In [3]:
# wap find the leap year or not
year = input("enter a year : ")
res = (year %4 ==0  and year%100 !=0)or (year %400 == 0)
print year," is leap year : ",res

enter a year : 2008
2008  is leap year :  True

In [4]:
# wap find the leap year or not
year = input("enter a year : ")
res = (year %4 ==0  and year%100 !=0)or (year %400 == 0)
print year," is leap year : ",res

enter a year : 2003
2003  is leap year :  False

In [6]:
# bitwise operator
'''
=====>>> bitwise operator steps

1. input decimal ----->> binary inputs 
2. we have to do the operation on binary data
3. bindary result ----->>> decimal result

'''
# bitwise OR operator  ----->>> |
'''
0   0 ---->> 0

0   1----->> 1

1   0----->> 1

1   1------> 1
'''
print 56  | 44 #  60
print 104 | 126 #

60
126

In [8]:
# bitwise and operator  ----->>> &
'''
0   0 ---->> 0

0   1----->> 0

1   0----->> 0

1   1------> 1
'''
print 56  & 44 #  
print 104 & 126 #

40
104

In [10]:
# bitwise Xor operator  ----->>> ^
'''
0   0 ---->> 0

0   1----->> 1

1   0----->> 1

1   1------> 0
'''
print 56  ^ 44 #  
print 104 ^ 126 #

20
22

In [11]:
#bitwise leftshift      num   <<  no_bit
'''
===>>> num ---->>> binary data
===>>> to the binary add  no of no_bits of zero  at right side
===>>> binary data ---->>> decimal num
'''
print 44 << 3
print 56 << 1

352

In [12]:
#bitwise right shift      num   >>  no_bit
'''
===>>> num ---->>> binary data
===>>> from the binary dat remove  no of no_bits  at right side
===>>> binary data ---->>> decimal num
'''
print 44 >> 3
#print 56 << 1

5

In [13]:
# bitwise not   ~n  ====>>  - (n+1)
'''
===>> num ---->> binary number 
'''

print ~10

-11

In [15]:
print ~45
print ~56

-46
-57

In [ ]:
### datatypes  ####
####################

###----